nav {
    display: inline;
}

nav ul {
    margin: -43px;
}

nav ul li {
    float: right;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;

}