* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer, .sectionOne {
    background-color: #1F2937;
    color: #F9FAF8;
}

.sectionOne, .sectionTwo {
    min-height: 500px;
    flex-wrap: wrap;
}

.sectionThree, .sectionFour {
    min-height: 400px;
    flex-wrap: wrap;
}

.header {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top:0;
}

.headerLinks a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #F9FAF8;
}

.headerLogo, .headerLinks {
    display: flex;
}

.headerLinks {
    gap: 30px;
}

.sectionOne {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.oneLeft {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oneRight {
    height: 300px;
    width: 600px;
    display: flex;
    background-color: #9b9b9b;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #3882F6;
    color: #F9FAF8;
}

.oneHeader {
    font-size: 48px;
    font-weight: 900;
}

.oneText {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.btn {
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    font-weight: 900;
}

.btn:hover {
    background-color: #2b60b4;
    cursor: pointer;
}



.twoHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.twoImgText {
    color: #1F2937;
}

.twoImg, .twoImgText {
    width: 150px;
    height: 150px;
    text-align: center;
}

.twoImg {
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 5px;
}

.twoContent {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sectionThree {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.threeContent {
    max-width: 750px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.attribution {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}

.sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourContent {
    height: 150px;
    width: 70%;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.fourText {
    width: 600px;
}

.callMain {
    font-weight: bold;
    font-size: 20px;
}

.callSub {
    color: #F9FAF8;
}

.sectionFour .btn {
    border: 2px solid #F9FAF8;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}